body {
  background: linear-gradient(120deg, #314c53, #1f2e33);
  background-size: 400% 400%;
  color: #f0f8ff;
}

.accordion-button {
  background-color: #3a5d61;
  color: #ffffff;
  font-weight: 500;
}

.accordion-button:not(.collapsed) {
  background-color: #2c4951;
  color: #ffc107;
}

.accordion-body {
  background-color: #2a4349;
  color: #e0f2f1;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  background-color: #263238;
}

.nav-link,
.nav-link:visited {
  color: #ffffff !important;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffc107 !important;
}

.btn-warning {
  font-weight: 600;
}

.card-title {
  color: #ffc107;
  font-weight: 600;
}

.lead {
  color: #cfd8dc;
}

section {
  background-color: #2a4349;
  color: #e0f2f1;
}

section h2,
section h5 {
  color: #ffe082;
}
.card {
  background-color: #3a5d61;
}
.card-body {
  background-color: #3a5d61;
  color: #eceff1;
  transition: background-color 0.3s ease;
}

.card-body:hover {
  background-color: #2c4951;
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #263238;
}
.logo-img {
  width: 10%;
  height: 10%;
}
.carousel-inner img {
  filter: brightness(85%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #37474f;
}

#show-when-mobile {
  display: none;
}

/* Títulos e textos das seções */
section h2 {
  color: #ffd54f;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
section .row h5,
section .row p {
  color: #f0f4c3;
}

/* Responsividade */

@media (max-width: 575.98px) {
  .card-body {
    padding: 0.75rem;
  }
  #show-when-mobile {
    display: block;
  }
  header,
  footer {
    padding: 1.5rem 0.5rem;
    text-align: center;
  }
  .hide_on_mobile {
    display: none;
  }
  .logo-img {
    width: 80px;
    height: auto;
    max-width: 100%;
    max-height: 50px;
  }
  .btn-warning {
    font-size: 0.8rem;
  }
  section {
    padding: 1rem;
  }
  section h2 {
    font-size: 1.3rem;
  }
  section h5 {
    font-size: 1rem; /* responsividade mobile */
  }
  img-fluid mb-4 {
    width: 100%;
    height: auto;
  }
  .carousel-inner img {
    height: 110px;
  }
}
.btn-outline-warning {
  border-color: #ffc107;
  color: #ffc107;
  font-weight: 600;
}

.btn-outline-warning:hover {
  background-color: #ffc107;
  color: #1f2e33;
}
footer {
  background-color: #263238;
}
