.card {
  background-color: #1f2a2e;
  border-radius: 12px;
  color: #fff;
}

input.form-control:focus {
  border-color: #ffc400;
  box-shadow: 0 0 0 0.25rem rgba(255, 196, 0, 0.25);
}

.form-control {
  background-color: #1f2a2e;
}

.btn-warning {
  background-color: #ffc400;
  border: none;
}

.btn-warning:hover {
  background-color: #e6b800;
}

.btn-outline-warning:hover {
  background-color: #ffd740;
  color: #121212;
  box-shadow: 0 4px 16px 0 rgba(255, 196, 0, 0.15);
  border-color: #ffd740;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
  color: #121212;
}
